---
layout: page
title: AtCoder Virtual Contest Generator
scripts:
- ./assets/atcoder-virtual-contest-generator.js
---

<h4>Difficulty <button type="submit" class="btn btn-danger" id="reset-diff">reset</button> </h4>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="table-entry">difficulty</td>
                <th scope="col" class="table-entry"><span class="difficulty-circle black"></span>Unrated</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle gray"></span>0~400</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle brown"></span>400~800</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle green"></span>800~1200</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle cyan"></span>1200~1600</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle blue"></span>1600~2000</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle yellow"></span>2000~2400</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle orange"></span>2400~2800</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle red"></span>2800~3200</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle bronze"></span>3200~3600</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle silver"></span>3600~4000</th>
                <th scope="col" class="table-entry"><span class="difficulty-circle gold"></span>4000~inf</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="table-entry">問題数</td>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-black' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-gray' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-brown' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-green' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-cyan' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-blue' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-yellow'
                    %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-orange'
                    %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-red' %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-bronze'
                    %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-silver'
                    %}
                </th>
                <th scope="col" class="table-entry">{% include_relative module/number_input.html id='input-num-gold' %}
                </th>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<h4>出典 <button type="submit" class="btn btn-danger" id="reset-src">reset</button></h4>
{% include_relative module/source_input.html id='input-abc' label='ABC, ABC-Like' %}
{% include_relative module/source_input.html id='input-arc' label='ARC, ARC-Like' %}
{% include_relative module/source_input.html id='input-agc' label='AGC, AGC-Like' %}
{% include_relative module/source_input.html id='input-other' label='Other' %}

<h4>コンテスト開催時刻 <button type="submit" class="btn btn-danger" id="reset-date">reset</button></h4>

{% include_relative module/date_input.html id='input-date-min' label='Min' %}
{% include_relative module/date_input.html id='input-date-max' label='Max' %}

<!-- <h4>参加者 (ここに入力したユーザーが解いたことのある問題を除外します)</h4>

<div class="input-group mb-2">
    <button type="button" class="btn btn-primary" id="input-participant-button">Add</button>
    <input type="text" class="form-control" placeholder="ユーザーID (複数指定は空白区切り)" aria-label="Username"
        id="input-participant">
</div> -->

<div id="participants">

</div>

<div class="w-100">
    <button type="submit" class="btn btn-primary w-100" id="submit-btn">Generate Problem Set</button>
</div>

<h4>問題セット</h4>

<div id="output">

</div>